@model List<FasDemo.ProjectModel.DTO.DashBoerdVM>
@inject FasDemo.Services.App.ICommon _app;
@using FasDemo.ViewModels;
@using FasDemo.ProjectModel.DTO;
@using Newtonsoft.Json;
@{

    string controller = "DashBoerd";// this.ViewContext.RouteData.Values["controller"].ToString();
    string groupname = "";
    string modelName = "Project";
    ViewData["Title"] = "لوحة التحكم";

    //EmployeeSummary summary = _app.GetEmployeeSummary();
    //ProjectDto projectDto = ViewData["DashBoerdV2DTO"] as ProjectDto;
    TaskSummary summary = ViewData["TaskSummary"] as TaskSummary;
    ChartDoughnut donutChart = _app.GetProjectsDoughnut();
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<!-- WaterBall js -->
<script src="~/assets/plugins/waterball/js/createWaterBall-jquery.js"></script>


<!-- amchart js -->
<script src="~/assets/plugins/amchart/js/amcharts.js"></script>
<script src="~/assets/plugins/amchart/js/gauge.js"></script>
<script src="~/assets/plugins/amchart/js/serial.js"></script>
<script src="~/assets/plugins/amchart/js/light.js"></script>
<script src="~/assets/plugins/amchart/js/pie.min.js"></script>
<script src="~/assets/plugins/amchart/js/ammap.min.js"></script>
<script src="~/assets/plugins/amchart/js/usaLow.js"></script>
<script src="~/assets/plugins/amchart/js/radar.js"></script>
<script src="~/assets/plugins/amchart/js/worldLow.js"></script>


<!-- Float Chart js -->
<script src="~/assets/plugins/flot/js/jquery.flot.js"></script>
<script src="~/assets/plugins/flot/js/jquery.flot.categories.js"></script>
<script src="~/assets/plugins/flot/js/curvedLines.js"></script>
<script src="~/assets/plugins/flot/js/jquery.flot.tooltip.min.js"></script>


<script src="~/CustomJs.js"></script>
<!-- chart js -->
<script>
    function create567(id, complete) {

        var ctx = ".container_" + id.toString();
        // [ sadball & happyball chart ] start
        var loadingEle = $('.loading');
        $(ctx).createWaterBall({
            cvs_config: {
                width: 110,
                height: 110
            },
            wave_config: {
                waveWidth: 0.025,
                waveHeight: 3
            },
            data_range: [30, 70, 100],
            isLoading: true,
            nowRange: complete,
            targetRange: complete
        });
        setTimeout(function () {
            $(ctx).createWaterBall('updateRange', complete);
            //$('.happyball').createWaterBall('updateRange', 74);
        }, 1000);

    }

    function generateChart(id) {
        $.ajax({
            type: "POST",
            data: { id: id },
            async: true,
            url: '@Url.Action("GetTaskstatusByidByAjax", "DashBoard")',
            success: function (data) {
                Chart(data);
            }, error: function (err) {
                //alert("Unable to display chart. Something went wrong.");
            }
        });
        function Chart(data) {

            //var ctxbar =  "bar_chart_" + id.toString()  ;
                // [ Bar Chart2 ] Start
            var chart = AmCharts.makeChart("bar_chart_" + id.toString(), {
                    "type": "serial",
                    "theme": "light",
                    "marginTop": 10,
                    "marginRight": 0,
                    "valueAxes": [{
                        "id": "v1",
                        "position": "left",
                        "axisAlpha": 0,
                        "lineAlpha": 0,
                        "autoGridCount": false,
                        "labelFunction": function (value) {
                            return +Math.round(value)  ;
                        }
                    }],
                    "graphs": [{
                        "id": "g1",
                        "valueAxis": "v1",
                        "lineColor": ["#1de9b6", "#1dc4e9"],
                        "fillColors": ["#f44236", "#c3251a"],
                        "fillAlphas": 1,
                        "type": "column",
                        "title": "الوقت المستغرق",
                        "valueField": "DateActual",
                        "columnWidth": 0.3,
                        "legendValueText": "يوم[[value]]",
                        "balloonText": "[[title]]<br /><b style='font-size: 130%'>يوم[[value]]</b>"
                    }, {
                        "id": "g2",
                        "valueAxis": "v1",
                        "lineColor": ["#a389d4", "#899ed4"],
                        "fillColors": ["#a389d4", "#899ed4"],
                        "fillAlphas": 1,
                        "type": "column",
                        "title": "الوقت اللازم ",
                        "valueField": "Duration",
                        "columnWidth": 0.3,
                        "legendValueText": "يوم[[value]]",
                        "balloonText": "[[title]]<br /><b style='font-size: 130%'>يوم[[value]]</b>"
                    }],
                    "chartCursor": {
                        "pan": true,
                        "valueLineEnabled": true,
                        "valueLineBalloonEnabled": true,
                        "cursorAlpha": 0,
                        "valueLineAlpha": 0.2
                    },
                    "categoryField": "Empname",
                    "categoryAxis": {
                        "dashLength": 1,
                        "gridAlpha": 0,
                        "axisAlpha": 0,
                        "lineAlpha": 0,
                        "minorGridEnabled": true
                    },
                    "legend": {
                        "useGraphSettings": true,
                        "position": "top"
                    },
                    "balloon": {
                        "borderThickness": 1,
                        "shadowAlpha": 0
                    },
                    "dataProvider": data

                });
                // [ Bar Chart2 ] end
            }

        };
</script>

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="accordion" id="accordionMain">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            التحليل
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionMain">
                                    <div class="row">
                                        <div class="col-md-5 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title mb-4">المشاريع حسب الحالة</h4>
                                                    <div class="chart-container doughnut">
                                                        <canvas id="doughnutChart" height="250" width="250"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 mb-4">
                                            <div class="row">
                                                <div class="col-md-6 col-xl-6 mb-3">
                                                    <div class="card">
                                                        <div class="card-block ticket-visitor">
                                                            <h3 class="mb-2">@summary.TaskLate</h3>
                                                            <h5 class="text-muted f-w-300 mb-4">مهام متأخرة</h5>
                                                            <a href="/dashboard/TaskLate">
                                                                <div class="progress" style="height: 20px;">
                                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: @summary.TaskLatePercentage%;height:13px;" aria-valuenow="@summary.TaskLatePercentage" aria-valuemin="0" aria-valuemax="100">@summary.TaskLatePercentage %</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 mb-3">
                                                    <div class="card">
                                                        <div class="card-block ticket-visitor">
                                                            <h3 class="mb-2">@summary.TaskCurrent</h3>
                                                            <h5 class="text-muted f-w-300 mb-4"> المهام الحالية</h5>
                                                            <a href="/dashboard/TaskCurrent">
                                                                <div class="progress" style="height: 20px;">
                                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: @summary.TaskCurrentPercentage%;height:13px;" aria-valuenow="@summary.TaskCurrentPercentage" aria-valuemin="0" aria-valuemax="100">@summary.TaskCurrentPercentage %</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4 mb-3">
                                                    <div class="card">
                                                        <div class="card-block ticket-visitor">
                                                            <h3 class="mb-2">@summary.TasksCustomer</h3>
                                                            <h5 class="text-muted f-w-300 mb-4">مهام العملاء</h5>
                                                            <a href="/dashboard/CustomerTasks">
                                                                <div class="progress" style="height: 20px;">
                                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: @summary.TasksCustomerPercentage%;height:13px;" aria-valuenow="@summary.TasksCustomerPercentage" aria-valuemin="0" aria-valuemax="100">@summary.TasksCustomerPercentage %</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4 mb-3">
                                                    <div class="card">
                                                        <div class="card-block ticket-visitor">
                                                            <h3 class="mb-2">@summary.TaskAccountant</h3>
                                                            <h5 class="text-muted f-w-300 mb-4">مهام المحاسب</h5>
                                                            <a href="/dashboard/TaskAccountant">
                                                                <div class="progress" style="height: 20px;">
                                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: @summary.TaskAccountantPercentage%;height:13px;" aria-valuenow="@summary.TaskAccountantPercentage" aria-valuemin="0" aria-valuemax="100">@summary.TaskAccountantPercentage %</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4 mb-3">
                                                    <div class="card">

                                                        <div class="card-block ticket-visitor">
                                                            <h3 class="mb-2">@summary.TaskFinished</h3>
                                                            <h5 class="text-muted f-w-300 mb-4">متابعة الموظفين</h5>
                                                            <a href="/dashboard/employeetasks">
                                                                <div class="progress" style="height: 20px;">
                                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: @summary.TaskFinishedPercentage%;height:13px;" aria-valuenow="@summary.TaskFinishedPercentage" aria-valuemin="0" aria-valuemax="100">@summary.TaskFinishedPercentage %</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zoom-filter">
                            <a href="" id="now"><img src="/Content/img/c1.png">التصميم المعمارية</a>
                            <a href="" id="late"><img src="/Content/img/c2.png">تصميم الواجهات </a>                            
                            <a href="" id="ended"><img src="/Content/img/c3.png">المخططات التنفيذية </a>
                            <a href="" id="wait"><img src="/Content/img/c4.png">تسليم المشروع </a> 
                            <a href="" id="all"><img src="/Content/img/c5.png">الجميع</a>
                        </div>
                        <div class="row">
                            <input type="text" id="m-search1" class="form-control" placeholder="كلمة البحث ....">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    var _resp = "all";
                                    var abc = item.DashBoerdV2DTOs.Where(a => a.CurrentCompleation < 100 && a.CurrentCompleation >= 0).FirstOrDefault()?.GroupId;
                                    switch (abc)
                                    {
                                        case 1:
                                            _resp = "now"; break;
                                        case 2:
                                            _resp = "late"; break;
                                        case 3:
                                            _resp = "ended"; break;
                                        case 4:
                                            _resp = "wait"; break;
                                        default:
                                            _resp = "all";
                                            break;
                                    }
                                    <div class="col-xl-4 col-md-6 search-area all @_resp">
                                        <div class="card theme-bg3   animated fadeInUpBig ">
                                            <div class="card-header bg borderless align-items-center justify-content-center">
                                                <a class="btn bg" data-toggle="tooltip" data-placement="top" title="تفاصيل المشروع"
                                                   href="/@controller/ProjectTaskDetails/@item.ProjectId" target="_blank"> @item.ProjectName</a>
                                            </div>
                                            <div class="card-block">
                                                @*@abc*@
                                                @foreach (var pitem in @item.DashBoerdV2DTOs.OrderBy(log => log.GroupId).ToList())
                                                {
                                                    var color = "danger";
                                                    @if (@pitem.totaltime <= pitem.Duration) { color = "success"; }
                                                    @if (@pitem.totaltime >= pitem.Duration * 1.1) { color = "warning"; }
                                                    @if (@pitem.totaltime > pitem.Duration) { color = "danger"; }
                                                    @*<a class="md-trigger" data-modal="modal-1" onclick="createUser('@pitem.ProjectTaskId')">
                                        <div data-label="@pitem.Compleation%" class="radial-bar  radial-bar-@Compleation radial-bar-sm radial-bar-@color" data-toggle="tooltip" title="" data-original-title="@pitem.TaskName">
                                            <img src="@pitem.ProfilePicture" alt="Image">
                                        </div>
                                    </a>*@
                                                    <a href="#!" class="md-trigger" data-modal="modal-1" onclick="createUser('@pitem.GroupId')">

                                                        <div data-label="@pitem.CurrentCompleation  % @(pitem.totaltime*100  / pitem.Duration) %" class="radial-bar  radial-bar-@pitem.CurrentCompleation radial-bar-lg radial-bar-@color" data-toggle="tooltip" title="" data-original-title="@pitem.GroupName">

                                                        </div>
                                                    </a>
                                                }


                                                @*<div style="float: left !important;">
                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                       href="/@controller/Form/@item.ProjectId"><i class="feather icon-check-circle"></i></a>

                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل المشروع"
                                       href="/@controller/ProjectTaskDetails/@item.ProjectId"><i class="feather icon-camera"></i></a>


                                    <a class="btn btn-dark btn-icon m-0 md-trigger open-AddBookDialog" data-modal="modal-1" data-id="@item.ProjectId" data-toggle="tooltip" data-placement="top" title="ارسال اشعار مهم"> <i class="feather icon-mail"></i></a>
                                </div>*@
                                            </div>
                                            <div class="card-footer">
                                                <div class=" progress">
                                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width:@item.ProjectTasksRatio%;" aria-valuenow="@item.ProjectTasksRatio" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ visa section ] end -->
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->



<div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
        <h3 class="theme-bg2">تفاصيل المهمة</h3>
        <div>
            <div id="md01">

            </div>
            <button class="btn btn-primary md-close">إغلاق ! </button>
        </div>
    </div>
</div>
<div class="md-overlay"></div>

@section Styles{
    <!-- data tables css -->
    @*<link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">*@
    <!-- modal-window-effects css -->
    <link rel="stylesheet" href="~/assets/plugins/modal-window-effects/css/md-modal.css">

}

@section Scripts {




    <script type="text/javascript">
        $(document).ready(function () {

        });

        //Doughnut Chart
        $(function () {
            var doughnutChart = {
                data: {
                    labels: @Html.Raw(JsonConvert.SerializeObject(donutChart.Labels)),
                    datasets: [{
                        label: 'Doughnut chart',
                        data: @Html.Raw(JsonConvert.SerializeObject(donutChart.Data)),
                        backgroundColor: @Html.Raw(JsonConvert.SerializeObject(donutChart.Colors)),
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: "top"
                    },
                    cutoutPercentage: 50
                }
            }
            chart("doughnutChart", "doughnut", doughnutChart.data, doughnutChart.options);
        });



    </script>


    <script type="text/javascript">
        function createUser(branchcode) {
            $.ajax({
                // do the rest of work here
                type: "POST",
                data: { id: branchcode },
                url: '@Url.Action("GetParticipantsByidByAjax", "DashBoard")',
                async: true,
                success: function (data) {
                    // do something
                    console.log(data);
                    $("#md01").html(data);
                }
            });
        }

    </script>






    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <!-- modal-window-effects Js -->
    <script src="~/assets/plugins/modal-window-effects/js/classie.js"></script>
    <script src="~/assets/plugins/modal-window-effects/js/modalEffects.js"></script>


}


