@model ProjectManagment.Models.ReceiveBusiness
@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
    string projectid = this.ViewContext.RouteData.Values["id"]?.ToString();
    string modelName = " طلبات استلام الأعمال ";
    ViewData["Title"] = " انشاء / تعديل " + modelName;
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/@controller/Index" class="btn drp-icon btn-rounded btn-primary dropdown-toggle">
                                    <i class="feather icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h3 class="m-b-10">@ViewData["Title"]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">


                                <article class="card mb-4">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">اضافة أو تعديل  @modelName</h4>
                                    </div>
                                </article>

                                <form asp-controller="@controller" asp-action="Submit@(action)" method="post">

                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">البيانات الاساسية</h4>
                                        </div>
                                        <div class="card-body">

                                            <input type="hidden" asp-for="ReceiveBusinessId" />

                                            <div class="row">

                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label asp-for="SerialNumber"></label>
                                                        @{
                                                            var serialNumber = $"00"+(Model.SerialNumber);
                                                            var reviewNumber = $"0"+(Model.ReviewNumber);
                                                        }
                                                        <input asp-for="SerialNumber" class="form-control" value="@serialNumber" id="serialNumber"/>
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label asp-for="ReviewNumber"></label>
                                                        <input asp-for="ReviewNumber" class="form-control" value="@reviewNumber" id="reviewNumber"/>
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="ReviewNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label asp-for="ReceiveBusinessDate"></label>
                                                        <input type="text" id="ReceiveBusinessDate" name="ReceiveBusinessDate" value="@Model.ReceiveBusinessDate" class="datepicker form-control" data-val="true">
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ReceiveBusinessDate" class="text-danger"></span>
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="row">

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label>القطاع</label>
                                                        <select class="select2 form-control" asp-items="ViewBag.Sector" onchange="fillProjectId(this)"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="ProjectId"></label>
                                                        <select asp-for="ProjectId" class="select2 form-control" id="projectId"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="ReceiveBusinessSchedualTempletId"></label>
                                                        <select asp-for="ReceiveBusinessSchedualTempletId" class="select2 form-control" asp-items="ViewBag.ReceiveBusinessSchedualTemplet"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ReceiveBusinessSchedualTempletId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>

                                            <h4 class="mt-3">التخصص : </h4>

                                            <div class="row">


                                                <div class="col-12" style="display: flex;gap: 145px;">

                                                    <div class="form-group">

                                                        <label>مدني</label>
                                                        <div class="switch d-inline m-r-10">
                                                            
                                                            <input name="IsCivil" class="form-control" type="checkbox" data-value="true" id="IsCivil" onchange="trackChecked()">
                                                            <label for="IsCivil" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>معماري</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input name="IsArchitectural" class="form-control" type="checkbox" data-value="true" id="IsArchitectural" onchange="trackChecked()">
                                                            <label for="IsArchitectural" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>ميكانيكا</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input name="IsMechanics" class="form-control" type="checkbox" data-value="true" id="IsMechanics" onchange="trackChecked()">
                                                            <label for="IsMechanics" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>كهرباء</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input name="IsElectricity" class="form-control" type="checkbox" data-value="true" id="IsElectricity" onchange="trackChecked()">
                                                            <label for="IsElectricity" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>زراعي</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input name="IsAgricultural" class="form-control" type="checkbox" data-value="true" id="IsAgricultural" onchange="trackChecked()">
                                                            <label for="IsAgricultural" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>أخرى</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input name="IsOthers" class="form-control" type="checkbox" data-value="true" id="IsOthers" onchange="{trackChecked();trackOther()}">
                                                            <label for="IsOthers" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group" id="isOtherDiv" style="display:none">

                                                        <label asp-for="OtherSpecialization"></label>
                                                        <input asp-for="OtherSpecialization" class="form-control" id="IsOthersText"/>
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="OtherSpecialization" class="text-danger"></span>
                                                        
                                                    </div>
                                                    
                                            </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="StatusId"></label>
                                                        <select asp-for="StatusId" class="select2 form-control" asp-items="ViewBag.Status" data-val-required="فضلا اختر الحالة"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="StatusId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                     

                                    </article>

                                    <article class="card mb-4">

                                        <div class="card-header">
                                            <h4 class="card-title mb-0">تفاصيل الأعمال</h4>
                                        </div>



                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="BuildingStatement">بيان المبنى</label>
                                                        <input asp-for="BuildingStatement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="BuildingStatement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="BuildingComments">ملاحظات المبنى</label>
                                                        <input asp-for="BuildingComments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="BuildingComments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="WorkToBeExaminedStatement">بيان الدور</label>
                                                        <input asp-for="WorkToBeExaminedStatement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="WorkToBeExaminedStatement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="WorkToBeExaminedComments">ملاحظات الدور</label>
                                                        <input asp-for="WorkToBeExaminedComments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="WorkToBeExaminedComments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="FloorStatement">بيان اللوحات المعتمدة</label>
                                                        <input asp-for="FloorStatement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="FloorStatement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="FloorComments">ملاحظات اللوحات المعتمدة</label>
                                                        <input asp-for="FloorComments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="FloorComments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="RequiredExaminationDateStatement">بيان تاريخ الفحص المطلوب</label>
                                                        <input asp-for="RequiredExaminationDateStatement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="RequiredExaminationDateStatement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="RequiredExaminationDateComments">ملاحظات تاريخ الفحص المطلوب</label>
                                                        <input asp-for="RequiredExaminationDateComments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="RequiredExaminationDateComments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="ApprovedPlatesStatement">بيان العمل المطلوب فحصه</label>
                                                        <input asp-for="ApprovedPlatesStatement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="ApprovedPlatesStatement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="ApprovedPlatesComments">ملاحظات العمل المطلوب فحصه</label>
                                                        <input asp-for="ApprovedPlatesComments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="ApprovedPlatesComments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </article>

                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <button type="submit" class="btn btn-primary">حفظ</button>
                                        </div>
                                    </article>
                                    @{
                                        var a = 10;
                                    }
                                </form>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->
@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
     
    var stetmentForSql = "";
    function fillProjectId(e) {
        var key = e.value;
      

        $.get("GetProjectByType", { type: key }, function (data) {
            $('#projectId').children().remove();
            for (let i = 0; i < data.length;i++)
            {
                  const newOption = document.createElement("option");

                  // and give it some content
                  const newContent = document.createTextNode(data[i].projectCode);

                  // add the text node to the newly created div
                  newOption.appendChild(newContent);
                  newOption.value = data[i].projectId;
                document.getElementById("projectId").appendChild(newOption);
                
            }
            
        });
    }





    function trackOther() {
        if (document.getElementById("IsOthers").checked == true) {
            $("#isOtherDiv").fadeIn(1000);
        }
        else{
            $("#isOtherDiv").fadeOut(1000);
        }


    }

   

    function ChangeReviewAndSerialNum() {

        $.get("GetMaxReviewAndSerialNumber", { sqlStetment: stetmentForSql }, function (data) {

            if (data.length != 0) {
                document.getElementById("reviewNumber").value = '0' + (data[data.length - 1].reviewNumber + 1);
                document.getElementById("serialNumber").value = '00' + (data[data.length - 1].serialNumber + 1);
            }
            else {
                document.getElementById("reviewNumber").value = '00';
                document.getElementById("serialNumber").value = '001';
            }
        });

    }

    function trackChecked() {

        //architectural odds
        if (document.getElementById("IsArchitectural").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsAgricultural").checked == true && document.getElementById("IsOthers").checked == true) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }




        else if (document.getElementById("IsArchitectural").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsArchitectural").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'true' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsArchitectural").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsMechanics").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsArchitectural").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsCivil").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsArchitectural").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'false'";
        }


        //civil odds
        else if (document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'true' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }


        //mechanics odds
        else if (document.getElementById("IsMechanics").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'true and IsOthers = 'false''";
        }
        else if (document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'false' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }

        //electricity odds
        else if (document.getElementById("IsElectricity").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'true' and IsMechanics = 'false' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == false && document.getElementById("IsOthers").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'true' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }


        //agricultural odds
        else if (document.getElementById("IsAgricultural").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'true' and IsMechanics = 'false' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'false'";
        }
        else if (document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsOthers").checked == true && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }


        //others odds
        else if (document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == false && document.getElementById("IsElectricity").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == false && document.getElementById("IsMechanics").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'false' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == false && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'true' and IsMechanics = 'false' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == false && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }
        else if (document.getElementById("IsOthers").checked == true && document.getElementById("IsAgricultural").checked == true && document.getElementById("IsElectricity").checked == true && document.getElementById("IsMechanics").checked == true && document.getElementById("IsCivil").checked == true && document.getElementById("IsArchitectural").checked == false) {

            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'true' and IsArchitectural = 'false' and IsCivil = 'true' and IsElectricity = 'true' and IsMechanics = 'true' and IsOthers = 'true'";
        }




        else {
            stetmentForSql = "select * from ReceiveBusiness where IsAgricultural = 'false' and IsArchitectural = 'false' and IsCivil = 'false' and IsElectricity = 'false' and IsMechanics = 'false'";

        }
        ChangeReviewAndSerialNum();
    }

    
</script>