@model List<FasDemo.ProjectModel.ReceiveBusinessTaskVM>
@inject FasDemo.Services.App.ICommon _app;
@using FasDemo.ViewModels;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@{

    var a = User.Identities.ToArray();
    var b = a[0].Claims.ToArray();
    var userID = b[0].Value;

    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string modelName    = "ReceiveBusinessTask";
    ViewData["Title"] = "ReceiveBusinessTask";

    EmployeeSummary summary = _app.GetEmployeeSummary();
    ChartDoughnut donutChart = _app.GetEmployeeDoughnut();
    var animationstatus = true;
    var animations = "";
}


@{
    ViewData["Title"] = "Widget4";
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>*@
@*<script src="~/CustomJs.js"></script>*@

<!-- [ Main Content ] start -->
<style>
    .SignetureDiv{
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #a4c4b4bf;
        z-index: 99999;
        padding: 30px;
        display: none;
        justify-content: center;
        box-shadow: 1px 1px 137px #0e6238 inset;
    }

    .SignetureDiv img{
        width:25%;
    }

    .SignetureDiv input{
    padding: 5px 14px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid #0e6238;
    margin-bottom: 20px;
    font-size: 20px;
    color: #0e6238;
    }
</style>
<div class="SignetureDiv" id="signetureDiv">
    <form asp-action="CheckSigneture" method="post">
        <div class="container">
            <div class="row" style="display:flex;justify-content:center;align-items:center">
                <div class="col-md-12" style="text-align:center">
                    <img src="~/assets/images/logo.svg"/>
                </div>
                <div class="card" style="width:370px;margin-top:50px;text-align:center">
                    <h5 class="card-header">الرجاء قم بأدخال كلمة المرور</h5>
                    <div class="card-body">
                        <input type="hidden" name="EmployeeId" value="@userID" />
                        <input type="hidden" name="receiveBusinessId" id="receiveBusinessId" />
                        <input required type="password" class="input-group" id="EmployeePass" name="pass"/>

                        <button type="submit" href="#" class="btn btn-primary">تأكيد</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            @if(ViewBag.done!=null)
                            {
                                <div class="col-md-12" id="messageDiv" style="display:block">
                                    @if (ViewBag.done == "تم التوقيع بنجاح")
                                    {
                                        <h3 style="color:darkgreen;text-align:center">@ViewBag.done</h3>
                                    }
                                    else
                                    {
                                        <h3 style="color:darkred;text-align:center">@ViewBag.done</h3>
                                    }
                                </div>                                
                            }
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard/1"><i class="feather icon-home"></i></a></li>
                                    @*<li class="breadcrumb-item"><a href="#!">المهام</a></li>*@
                                    <li class="breadcrumb-item"><a href="#!">مهامي</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                            مهام جديدة
                                            <span class="badge badge-light">
                                                @Model.Where(x => x.ReceiveBusinessAssignToId == userID && x.Compleation < 100 && x.StatusId != 2).Count()
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                            مهام للتعديل
                                            <span class="badge badge-pill badge-warning">
                                                @Model.Where(x => x.StatusId == 2 && x.ReceiveBusinessAssignToId == userID && x.Compleation < 100).Count()
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                                            مهام منتهية
                                            <span class="badge badge-pill badge-success">
                                                @Model.Where(x => x.Compleation == 100 && x.IsApproved == true && x.ReceiveBusinessAssignToId == userID).Count()
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Approval-tab" data-toggle="pill" href="#pills-Approval" role="tab" aria-controls="pills-Approval" aria-selected="false">
                                            مهام للأعتماد
                                            <span class="badge badge-pill badge-danger">
                                                @Model.Where(x => x.Compleation == 100 && x.IsApproved == false && x.ApprovedById == userID).Count()
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="zoom-filter">
                                    <a href="#" id="late"><img src="/Content/img/c2.png">مهام متأخرة </a>
                                    <a href="" id="now"><img src="/Content/img/c3.png">مهام حالية </a>
                                    <a href="" id="all"><img src="/Content/img/c5.png">الجميع</a>
                                </div>
                                <div class="tab-content" id="pills-tabContent">

                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="row">
                                            @foreach (var item in Model.Where(x => x.ReceiveBusinessAssignToId == userID && x.Compleation < 100 && x.StatusId != 2).ToList())
                                            {

                                                if (animationstatus == true)
                                                {
                                                    animations = "fadeInLeftBig"; animationstatus = false;
                                                }
                                                else
                                                {
                                                    animations = "fadeInRightBig"; animationstatus = true;
                                                }

                                                <!-- [ visa section ] start -->
                                                if(item.IsSigned==true)
                                                {
                                                    <div class="col-xl-3 col-md-6 search-area all late">
                                                        <div class="card theme-bg3 animated @animations ">
                                                            <div class="card-header borderless align-items-center justify-content-center">

                                                                <h5 class="f-w-300 d-flex align-items-center float-left">
                                                                    @item.ProjectName (@item.ProjectCode)
                                                                </h5>
                                                                <span class="bg-c-yellow d-block rounded-circle mx-auto mb-2" style="width:20px; height:20px; float:left"></span>
                                                                <br />
                                                                <span class="d-block  text-dark mt-3 f-w-600" style="text-align:center;">@item.TaskName</span>
                                                                <span class="d-block text-dark mt-3 f-w-300">@item.TaskUserName</span>
                                                            </div>
                                                            <div class="card-block">
                                                                <h6 class="text-dark">نوع الطلب : اعتماد طلبات استلام اعمال (IR) </h6>
                                                                <h6 class="text-dark">تاريخ الطلب : @item.ReceiveBusinessDate </h6>
                                                                <h6 class="text-dark">المقاول : @item.ContractorName </h6>
                                                                <h6 class="f-w-600 text-dark ">رقم التسلسل :  @item.SerialNumber 00<span class="f-w-300 m-l-10">رقم المراجعة : @item.ReviewNumber 0</span></h6>
                                                                <h6 class="text-dark">
                                                                    التخصص : @if (item.IsAgricultural == true)
                                                                    {
                                                                        <span>زراعي</span>
                                                                    }
                                                                    else if (item.IsArchitectural == true)
                                                                    {
                                                                        <span>معماري</span>
                                                                    }
                                                                    else if (item.IsCivil == true)
                                                                    {
                                                                        <span>مدني</span>
                                                                    }
                                                                    else if (item.IsElectricity == true)
                                                                    {
                                                                        <span>كهرباء</span>
                                                                    }
                                                                    else if (item.IsMechanics == true)
                                                                    {
                                                                        <span>ميكانيكا</span>
                                                                    }
                                                                    else if (item.IsOthers == true)
                                                                    {
                                                                        <span>@item.OtherSpecialization</span>
                                                                    }
                                                                </h6>
                                                                <h6 class="f-w-600 text-dark">
                                                                    نسبة الاعتماد : @item.Compleation
                                                                </h6>
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width:  @item.Compleation%;" aria-valuenow="@item.Compleation" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <div style="float: left !important;">

                                                                    <button type="button" id="myBtn" class="btn btn-success sign m-2" onclick='showForm(@item.ReceiveBusinessId)' disabled>التوقيع</button>

                                                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                                                       href="/@controller/Form/@item.ReceiveBusinessTaskId"><i class="feather icon-check-circle"></i></a>

                                                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل المشروع"
                                                                       href="/@controller/ReceiveBusinessTaskDetails/@item.ReceiveBusinessId"><i class="feather icon-camera"></i></a>

                                                                    <button type="button" id="myBtn" class="btn btn-danger appr  m-2" onclick='deleteorder2(@item.ReceiveBusinessTaskId)'>اعتماد الطلب</button>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="col-xl-3 col-md-6 search-area all late">
                                                        <div class="card theme-bg3 animated @animations ">
                                                            <div class="card-header borderless align-items-center justify-content-center">

                                                            <h5 class="f-w-300 d-flex align-items-center float-left">
                                                                @item.ProjectName (@item.ProjectCode)
                                                            </h5>
                                                            <span class="bg-c-yellow d-block rounded-circle mx-auto mb-2" style="width:20px; height:20px; float:left"></span>
                                                            <br />
                                                            <span class="d-block  text-dark mt-3 f-w-600" style="text-align:center;">@item.TaskName</span>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskUserName</span>
                                                        </div>
                                                        <div class="card-block">
                                                            <h6 class="text-dark">نوع الطلب : اعتماد طلبات استلام اعمال (IR) </h6>
                                                            <h6 class="text-dark">تاريخ الطلب : @item.ReceiveBusinessDate </h6>
                                                            <h6 class="text-dark">المقاول : @item.ContractorName </h6>
                                                            <h6 class="f-w-600 text-dark ">رقم التسلسل :  @item.SerialNumber <span class="f-w-300 m-l-10">رقم المراجعة : @item.ReviewNumber</span></h6>
                                                            <h6 class="text-dark">التخصص : @if (item.IsAgricultural == true)
                                                                {
                                                                    <span>زراعي</span>
                                                                }
                                                                else if (item.IsArchitectural == true)
                                                                {
                                                                    <span>معماري</span>
                                                                }
                                                                else if (item.IsCivil == true)
                                                                {
                                                                    <span>مدني</span>
                                                                }
                                                                else if (item.IsElectricity == true)
                                                                {
                                                                    <span>كهرباء</span>
                                                                }
                                                                else if (item.IsMechanics == true)
                                                                {
                                                                    <span>ميكانيكا</span>
                                                                }
                                                                else if (item.IsOthers == true)
                                                                {
                                                                    <span>@item.OtherSpecialization</span>
                                                                } </h6>
                                                            <h6 class="f-w-600 text-dark">
                                                                نسبة الاعتماد : @item.Compleation
                                                            </h6>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width:  @item.Compleation%;" aria-valuenow="@item.Compleation" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>



@*
                                                            <div class="row">

                                                                <div class="col-6">
                                                                    <button type="button" id="myBtn" class="btn btn-success sign m-2" onclick='deleteorder2(@item.ReceiveBusinessTaskId)'>التوقيع</button>

                                                                </div>

                                                                <div class="col-3">
                                                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                                                    href="/@controller/Form/@item.ReceiveBusinessTaskId"><i class="feather icon-check-circle"></i></a>
                                                                </div>

                                                                <div class="col-3">
                                                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل المشروع"
                                                                    href="/@controller/ReceiveBusinessTaskDetails/@item.ReceiveBusinessId"><i class="feather icon-camera"></i></a>
                                                                            
                                                                </div>

                                                            </div>


                                                             <button type="button" id="myBtn" class="btn btn-danger appr  m-2" onclick='deleteorder2(@item.ReceiveBusinessTaskId)'>اعتماد الطلب</button>*@

                                                                           



                                                            <div style="text-align: center !important;">


                                                                    <button type="button" id="myBtn" class="btn btn-success sign m-2" onclick='showForm(@item.ReceiveBusinessId)'>التوقيع</button>

                                                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                                                       href="/@controller/Form/@item.ReceiveBusinessTaskId"><i class="feather icon-check-circle"></i></a>

                                                                    <a class="btn btn-dark btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل المشروع"
                                                                   href="/@controller/ReceiveBusinessTaskDetails/@item.ReceiveBusinessId"><i class="feather icon-camera"></i></a>

                                                                    <button type="button" id="myBtn" class="btn btn-danger appr  m-2" onclick='deleteorder2(@item.ReceiveBusinessTaskId)'>اعتماد الطلب</button>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                                <!-- [ visa section ] end -->
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="row">
                                            @foreach (var item in Model.Where(x => x.StatusId == 2 && x.ReceiveBusinessAssignToId == userID && x.Compleation < 100).ToList())
                                            {
                                                if (animationstatus == true)
                                                {
                                                    animations = "fadeInLeftBig"; animationstatus = false;
                                                }
                                                else
                                                {
                                                    animations = "fadeInRightBig"; animationstatus = true;
                                                }
                                                <!-- [ visa section ] start -->
                                                <div class="col-xl-3 col-md-6 search-area">
                                                    <div class="card bg-c-blue animated      @animations ">
                                                        <div class="card-header borderless align-items-center justify-content-center">
                                                            <h5 class="f-w-300 d-flex align-items-center float-left">
                                                                @item.ProjectName (@item.ProjectCode)
                                                            </h5>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskName</span>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskUserName</span>
                                                        </div>
                                                        <div class="card-block ">
                                                            <h6 class="text-dark">نوع الطلب : اعتماد طلبات استلام اعمال (IR) </h6>
                                                            <h6 class="text-dark">تاريخ الطلب : @item.ReceiveBusinessDate </h6>
                                                            <h6 class="text-dark">المقاول : @item.ContractorName </h6>
                                                            <h6 class="f-w-600 text-dark ">رقم التسلسل :  @item.SerialNumber <span class="f-w-300 m-l-10">رقم المراجعة : @item.ReviewNumber</span></h6>
                                                            <h6 class="text-dark">
                                                                التخصص : @if (item.IsAgricultural == true)
                                                                {
                                                                    <span>زراعي</span>
                                                                }
                                                                else if (item.IsArchitectural == true)
                                                                {
                                                                    <span>معماري</span>
                                                                }
                                                                else if (item.IsCivil == true)
                                                                {
                                                                    <span>مدني</span>
                                                                }
                                                                else if (item.IsElectricity == true)
                                                                {
                                                                    <span>كهرباء</span>
                                                                }
                                                                else if (item.IsMechanics == true)
                                                                {
                                                                    <span>ميكانيكا</span>
                                                                }
                                                                else if (item.IsOthers == true)
                                                                {
                                                                    <span>@item.OtherSpecialization</span>
                                                                }
                                                            </h6>
                                                            <h6 class="f-w-600 text-dark ">
                                                                نسبة الاعتماد : @item.Compleation
                                                            </h6>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width:  @item.Compleation%;" aria-valuenow="@item.Compleation" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div style="float: left !important;">
                                                                <a class="btn btn-warning btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                                               href="/@controller/Form/@item.ReceiveBusinessTaskId"><i class="feather icon-check-circle"></i></a>

                                                                <a class="btn btn-warning btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل الطلب"
                                                               href="/@controller/ReceiveBusinessTaskDetails/@item.ReceiveBusinessId"><i class="feather icon-camera"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- [ visa section ] end -->
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                        <div class="row">
                                            @foreach (var item in Model.Where(x => x.Compleation == 100 && x.IsApproved == true && x.ReceiveBusinessAssignToId == userID).ToList())
                                            {

                                                if (animationstatus == true)
                                                {
                                                    animations = "fadeInLeftBig"; animationstatus = false;
                                                }
                                                else
                                                {
                                                    animations = "fadeInRightBig"; animationstatus = true;
                                                }
                                                <!-- [ visa section ] start -->
                                                <div class="col-xl-3 col-md-6 search-area">
                                                    <div class="card theme-bg3 animated @animations">
                                                        <div class="card-header borderless align-items-center justify-content-center">
                                                            <h5 class="f-w-300 d-flex align-items-center float-left">
                                                                @item.ProjectName (@item.ProjectCode)
                                                            </h5>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskName</span>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskUserName</span>
                                                        </div>
                                                        <div class="card-block">
                                                            <h6 class="text-dark">نوع الطلب : اعتماد طلبات استلام اعمال (IR) </h6>
                                                            <h6 class="text-dark">تاريخ الطلب : @item.ReceiveBusinessDate </h6>
                                                            <h6 class="text-dark">المقاول : @item.ContractorName </h6>
                                                            <h6 class="f-w-600 text-dark ">رقم التسلسل :  @item.SerialNumber <span class="f-w-300 m-l-10">رقم المراجعة : @item.ReviewNumber</span></h6>
                                                            <h6 class="text-dark">
                                                                التخصص : @if (item.IsAgricultural == true)
                                                                {
                                                                    <span>زراعي</span>
                                                                }
                                                                else if (item.IsArchitectural == true)
                                                                {
                                                                    <span>معماري</span>
                                                                }
                                                                else if (item.IsCivil == true)
                                                                {
                                                                    <span>مدني</span>
                                                                }
                                                                else if (item.IsElectricity == true)
                                                                {
                                                                    <span>كهرباء</span>
                                                                }
                                                                else if (item.IsMechanics == true)
                                                                {
                                                                    <span>ميكانيكا</span>
                                                                }
                                                                else if (item.IsOthers == true)
                                                                {
                                                                    <span>@item.OtherSpecialization</span>
                                                                }
                                                            </h6>
                                                            <h6 class="f-w-600 text-dark ">
                                                                نسبة الاعتماد : @item.Compleation
                                                            </h6>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width:  @item.Compleation%;" aria-valuenow="@item.Compleation" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div style="float: left !important;">
                                                                <a class="btn btn-success btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                                               href="/@controller/Form/@item.ReceiveBusinessTaskId"><i class="feather icon-check-circle"></i></a>

                                                                <a class="btn btn-success btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل الطلب"
                                                               href="/@controller/ReceiveBusinessTaskDetails/@item.ReceiveBusinessId"><i class="feather icon-camera"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- [ visa section ] end -->
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-Approval" role="tabpanel" aria-labelledby="pills-Approval-tab">
                                        <div class="row">
                                            @foreach (var item in Model.Where(x => x.Compleation == 100 && x.IsApproved == false && x.ApprovedById == userID).ToList())
                                            {
                                                <!-- [ visa section ] start -->
                                                <div class="col-xl-3 col-md-6 search-area">
                                                    <div class="card theme-bg3  ">
                                                        <div class="card-header borderless align-items-center justify-content-center">
                                                            <h5 class="f-w-300 d-flex align-items-center float-left">
                                                                @item.ProjectName (@item.ProjectCode)
                                                            </h5>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskName</span>
                                                            <span class="d-block text-dark mt-3 f-w-300">@item.TaskUserName</span>
                                                        </div>
                                                        <div class="card-block">
                                                            <h6 class="text-dark">نوع الطلب : اعتماد طلبات استلام اعمال (IR) </h6>
                                                            <h6 class="text-dark">تاريخ الطلب : @item.ReceiveBusinessDate </h6>
                                                            <h6 class="text-dark">المقاول : @item.ContractorName (@item.ContractorCode)</h6>
                                                            <h6 class="f-w-600 text-dark ">رقم التسلسل :  @item.SerialNumber <span class="f-w-300 m-l-10">رقم المراجعة : @item.ReviewNumber</span></h6>
                                                            <h6 class="text-dark">
                                                                التخصص : @if (item.IsAgricultural == true)
                                                                {
                                                                    <span>زراعي</span>
                                                                }
                                                                else if (item.IsArchitectural == true)
                                                                {
                                                                    <span>معماري</span>
                                                                }
                                                                else if (item.IsCivil == true)
                                                                {
                                                                    <span>مدني</span>
                                                                }
                                                                else if (item.IsElectricity == true)
                                                                {
                                                                    <span>كهرباء</span>
                                                                }
                                                                else if (item.IsMechanics == true)
                                                                {
                                                                    <span>ميكانيكا</span>
                                                                }
                                                                else if (item.IsOthers == true)
                                                                {
                                                                    <span>@item.OtherSpecialization</span>
                                                                }
                                                            </h6>
                                                            <h6 class="f-w-600 text-dark ">
                                                                نسبة الاعتماد : @item.Compleation
                                                            </h6>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width:  @item.Compleation%;" aria-valuenow="@item.Compleation" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div style="float: left !important;">
                                                                <a class="btn btn-default btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تعديل المهمة"
                                                               href="/@controller/Form/@item.ReceiveBusinessTaskId"><i class="feather icon-check-circle"></i></a>

                                                                <a class="btn btn-default btn-icon m-0" data-toggle="tooltip" data-placement="top" title="تفاصيل الطلب"
                                                               href="/@controller/ReceiveBusinessTaskDetails/@item.ReceiveBusinessId"><i class="feather icon-camera"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- [ visa section ] end -->
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
@section Styles{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">

    <style>

        button.sign,
        button.appr{
            background: transparent;
            color: #000;
            font-weight: 900;
        }

        button.sign{
            border-color: #0e6238;
        }

        button.sign:hover{
            color: #fff;
            background-color: #0e6238;
            border-color: #13c095;
        }




        button.appr {
            border-color: #d9a630;
        }

            button.appr:hover {
            color: #fff;
            background-color: #d9a630;
            border-color: #f9be34;
        }


        a.btn-dark{
            background: transparent;
        }

        a.btn-dark:hover i {
                color: #fff;
        }
        a.btn-dark i{
            color: #000;
            font-weight: 900;
        }
    </style>
}

@section Scripts{

        < !--Todo Js-- >
    <script src="~/assets/plugins/todo/js/todo.js"></script>

    <script>
        function showForm(id)
        {
            document.getElementById("receiveBusinessId").value = id;
            $("#signetureDiv").fadeIn(1000);
        }

        if ($("#messageDiv").css("display")=="block")
        {
            $("#messageDiv").fadeOut(3000);
        }
    </script>

}


